<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Tag.io</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>  
  {{{body}}}
</body>
</html>